<div class="box">
<h2>Listing drive_fixeds</h2>
<div class="boxContent">
	<% form_remote_tag :url=>{:controller=>"drive_fixeds", :action=>"filter_account"}, :update=>"resultado" do -%>
		<%=select_tag 'contas', options_from_collection_for_select(@contas, :id, :title)%>
		<%=submit_tag "filtrar"%>
	<% end -%>
<div id="resultado">
<%=render :partial=>"lista_gastos", :locals=>{:drive_fixeds=>@drive_fixeds}%>
</div>
<%= link_to 'New drive_fixed', new_drive_fixed_path %>
</div>
</div>