<div class="box">
<h2>Detalhes</h2>
<div class="boxContent">
<p>
  <b>Title:</b>
  <%=h @account.title %>
</p>

<%= link_to 'Editar', edit_account_path(@account) %> |
<%= link_to 'Voltar', accounts_path %>
</div>
</div>